body {
  background: -o-linear-gradient(294.93deg,#2e3338 14.17%,#20242b 75.21%) no-repeat;
  background: linear-gradient(155.07deg,#2e3338 14.17%,#20242b 75.21%) no-repeat;
  color: #f4f4f4
}
body::before {
  background: -o-linear-gradient(359.68deg,rgba(0,0,0,.2) -35.95%,rgba(0,0,0,0) 93.38%);
  background: linear-gradient(90.32deg,rgba(0,0,0,.2) -35.95%,rgba(0,0,0,0) 93.38%);
  left: 0
}
body::after {
  background: -o-linear-gradient(359.68deg,rgba(0,0,0,.2) -35.95%,rgba(0,0,0,0) 93.38%);
  background: linear-gradient(90.32deg,rgba(0,0,0,.2) -35.95%,rgba(0,0,0,0) 93.38%);
  right: 0;
  -webkit-transform: matrix(-1,0,0,1,0,0);
  -ms-transform: matrix(-1,0,0,1,0,0);
  transform: matrix(-1,0,0,1,0,0)
}
.preloader::before {
  background: -o-radial-gradient(50% 50%,50% 50%,rgba(220,220,220,.05) 0,rgba(125,125,125,0) 100%);
  background: radial-gradient(50% 50% at 50% 50%,rgba(220,220,220,.05) 0,rgba(125,125,125,0) 100%)
}
.preloader .circular circle {
  stroke: #5d6066
}
.header {
  background-color: #262a30
}
.header__logo svg path {
  fill: #f4f4f4
}
.burger-icon:hover {
  background-color: #5d6066
}
.main-menu {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
  -webkit-filter: drop-shadow(0 4px 16px rgba(0, 0, 0, .3));
  filter: drop-shadow(0 4px 16px rgba(0, 0, 0, .3));
  background: #34383f
}
.main-menu::after,
.main-menu::before {
  background: -o-radial-gradient(50% 50%,50% 50%,rgba(0,0,0,.2) 0,rgba(0,0,0,0) 100%);
  background: radial-gradient(50% 50% at 50% 50%,rgba(0,0,0,.2) 0,rgba(0,0,0,0) 100%)
}
.main-menu ul li a {
  color: #5d6066
}
.main-menu ul li a:hover {
  color: #f4f4f4
}
.settings-menu {
  -webkit-filter: drop-shadow(2px 4px 20px rgba(0, 0, 0, .4));
  filter: drop-shadow(2px 4px 20px rgba(0, 0, 0, .4))
}
.settings-menu__open:hover {
  background-color: #5d6066
}
.settings-menu__open svg rect {
  fill: #f4f4f4
}
.settings-menu__top {
  border-bottom: 1px solid #5d6066;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.25);
  box-shadow: 0 2px 4px rgba(0,0,0,.25)
}
.settings-menu__dropdown {
  -webkit-filter: drop-shadow(2px 4px 20px rgba(0, 0, 0, .4));
  filter: drop-shadow(2px 4px 20px rgba(0, 0, 0, .4));
  background: #262a30
}
.settings-menu__nav ul li a {
  color: #5d6066
}
.settings-menu__nav ul li a:hover {
  color: #fff
}
.settings-menu__bottom {
  border-top: 1px solid #5d6066;
  -webkit-box-shadow: 0 -2px 2px rgba(0,0,0,.25);
  box-shadow: 0 -2px 2px rgba(0,0,0,.25)
}
.settings-menu__close:hover svg rect {
  fill: #fff
}
.settings-menu__close svg rect {
  fill: #5d6066
}
.switch__slider {
  background-color: #31353a
}
.switch__slider::before {
  background-color: #31353a;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.4),inset 0 -1px 1px rgba(0,0,0,.1),inset 0 1px 1px rgba(240,240,240,.05);
  box-shadow: 0 2px 8px rgba(0,0,0,.4),inset 0 -1px 1px rgba(0,0,0,.1),inset 0 1px 1px rgba(240,240,240,.05);
  border: .5px solid rgba(199,199,199,.5)
}
.switch-icon svg path {
  fill: #5d6066
}
.theme-color__icon svg path {
  fill: #f4f4f4
}
.top-info__left p {
  color: #f4f4f4
}
.btn {
  background: -webkit-gradient(linear,left bottom,left top,from(#1f2226),to(#35383e));
  background: -o-linear-gradient(bottom,#1f2226 0,#35383e 100%);
  background: linear-gradient(0deg,#1f2226 0,#35383e 100%);
  color: #f4f4f4;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .1));
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .1))
}
.btn:hover {
  background: -webkit-gradient(linear,left top,left bottom,from(#32373e),to(#14161a));
  background: -o-linear-gradient(top,#32373e 0,#14161a 100%);
  background: linear-gradient(180deg,#32373e 0,#14161a 100%)
}
.btn.btn-tsp {
  border: 1px solid #34383f;
  color: #5d6066;
  background: 0 0
}
.btn.btn-tsp:hover {
  background: #5d6066;
  color: #d1d1d1
}
.btn.btn-tsp:hover svg path {
  fill: #d1d1d1
}
.main-content.create-note .chat-container::before {
  background: -webkit-gradient(linear,left top,left bottom,color-stop(5.17%,#1b1e23),to(rgba(38,42,48,0)));
  background: -o-linear-gradient(top,#1b1e23 5.17%,rgba(38,42,48,0) 100%);
  background: linear-gradient(180deg,#1b1e23 5.17%,rgba(38,42,48,0) 100%)
}
.left-sidebar {
  background: -o-linear-gradient(259.94deg,#31353a 2.64%,#292d33 97.97%);
  background: linear-gradient(190.06deg,#31353a 2.64%,#292d33 97.97%);
  -webkit-box-shadow: -4px 0 4px rgba(0,0,0,.1);
  box-shadow: -4px 0 4px rgba(0,0,0,.1);
  -webkit-filter: drop-shadow(3px 0 12px rgba(0, 0, 0, .15));
  filter: drop-shadow(3px 0 12px rgba(0, 0, 0, .15))
}
.left-sidebar__top p {
  color: #5d6066
}
.left-sidebar__top::before {
  background: -webkit-gradient(linear,left top,left bottom,color-stop(5.17%,rgba(32,36,43,.3)),color-stop(50%,rgba(32,36,43,0)));
  background: -o-linear-gradient(top,rgba(32,36,43,.3) 5.17%,rgba(32,36,43,0) 50%);
  background: linear-gradient(180deg,rgba(32,36,43,.3) 5.17%,rgba(32,36,43,0) 50%)
}
.tab-item {
  color: #5d6066
}
.tab-item:hover {
  color: #f4f4f4
}
.tab-item.active {
  color: #f4f4f4;
  border-bottom: 1px solid #f4f4f4
}
.chat-message-content {
  background: -o-linear-gradient(277.54deg,#272b31 4.47%,#1b1e22 93.74%);
  background: linear-gradient(172.46deg,#272b31 4.47%,#1b1e22 93.74%);
  -webkit-box-shadow: inset 0 4px 4px rgba(0,0,0,.1);
  box-shadow: inset 0 4px 4px rgba(0,0,0,.1)
}
.chat-text-area {
  background: #262a30;
  -webkit-box-shadow: inset 0 4px 4px rgba(0,0,0,.15);
  box-shadow: inset 0 4px 4px rgba(0,0,0,.15);
  margin-top: 20px
}
.text-message {
  color: #f4f4f4
}
::-webkit-input-placeholder {
  color: #5d6066
}
::-moz-placeholder {
  color: #5d6066
}
:-ms-input-placeholder {
  color: #5d6066
}
::-ms-input-placeholder {
  color: #5d6066
}
::placeholder {
  color: #5d6066
}
.attach-file:hover svg path {
  fill: #f4f4f4
}
.send-message:hover svg path {
  fill: #f4f4f4
}
.photo-item__name {
  color: #f4f4f4
}
.photo-item__info {
  color: #5d6066
}
::-webkit-scrollbar-thumb {
  background-color: #5d6066
}
.action-item svg path {
  fill: #5d6066
}
.action-item:hover svg path {
  fill: #f4f4f4
}
.file-item__title {
  color: #f4f4f4
}
.file-item__icon svg path {
  fill: #f4f4f4
}
.file-item__data p {
  color: #5d6066
}
.loader-path {
  stroke: #5d6066
}
.circular circle {
  stroke: #34383f
}
.message-item {
  background: #2e3238
}
.message-item-file__data {
  color: #5d6066
}
.create-note-bottom__left p {
  color: #5d6066
}
.content-link-wrap::before {
  background: -webkit-gradient(linear,left top,left bottom,color-stop(5.17%,#1f2328),to(rgba(38,42,48,0)));
  background: -o-linear-gradient(top,#1f2328 5.17%,rgba(38,42,48,0) 100%);
  background: linear-gradient(180deg,#1f2328 5.17%,rgba(38,42,48,0) 100%)
}
.content-link__input {
  background: #f4f4f4;
  -webkit-box-shadow: inset 0 4px 4px rgba(0,0,0,.25);
  box-shadow: inset 0 4px 4px rgba(0,0,0,.25);
  color: #262a30
}
.content-link__input::before {
  background: -o-linear-gradient(179.93deg,#f0f0f0 8.9%,rgba(240,240,240,0) 99.93%);
  background: linear-gradient(270.07deg,#f0f0f0 8.9%,rgba(240,240,240,0) 99.93%)
}
.tooltip-info {
  background: #5d6066
}
.copy-link:hover > svg path {
  fill: #d1d1d1
}
.content-link-share__descr {
  color: #5d6066
}
.checkbox__text {
  color: #f4f4f4
}
.checkbox input:checked + .checkmark {
  background-color: #f4f4f4
}
.checkmark {
  border: 2px solid #f4f4f4;
  background-color: #292d33
}
.card-info {
  background: #34383f;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,.15);
  box-shadow: 0 0 15px rgba(0,0,0,.15)
}
@-webkit-keyframes color {
  0% {
    stroke: #5d6066
  }
  40% {
    stroke: #5d6066
  }
  66% {
    stroke: #5d6066
  }
  80%,
  90% {
    stroke: #5d6066
  }
}
@keyframes color {
  0% {
    stroke: #5d6066
  }
  40% {
    stroke: #5d6066
  }
  66% {
    stroke: #5d6066
  }
  80%,
  90% {
    stroke: #5d6066
  }
}