@media only screen and (-webkit-min-device-pixel-ratio:1.25),
only screen and (-o-min-device-pixel-ratio:5 / 4),
only screen and (-o-min-device-pixel-ratio:5/4),
only screen and (min-resolution:120dpi),
only screen and (min-resolution:1.25dppx) {
    body {
        font-size: calc(15px * .8)
    }

    h1 {
        font-size: calc(40px * .8)
    }

    h2 {
        font-size: calc(36px * .8)
    }

    h3 {
        font-size: calc(30px * .8)
    }

    h4 {
        font-size: calc(24px * .8)
    }

    h5 {
        font-size: calc(18px * .8)
    }

    h6 {
        font-size: calc(16px * .8)
    }

    p {
        margin: 0 0 calc(15px * .8) 0
    }

    .container {
        max-width: calc(1170px * .8);
        padding: 0 calc(15px * .8)
    }

    /*.preloader {*/
        /*padding: calc(15px * .8)*/
    /*}*/

    /*.preloader::before {*/
        /*width: calc(750px * .8);*/
        /*height: calc(750px * .8)*/
    /*}*/

    /*.preloader .loader {*/
        /*width: calc(252px * .8);*/
        /*height: calc(252px * .8);*/
        /*margin: 0 auto calc(68px * .8)*/
    /*}*/

    /*.preloader .loader__icon svg {*/
        /*width: calc(119px * .8)*/
    /*}*/

    /*.preloader p {*/
        /*font-size: calc(22px * .8);*/
        /*line-height: calc(28px * .8)*/
    /*}*/

    /*.preloader p span {*/
        /*font-size: calc(30px * .8);*/
        /*margin: 0 calc(8px * .8)*/
    /*}*/

    .header {
        padding: calc(17px * .8) 0 calc(18px * .8);
        -webkit-box-shadow: 0 calc(2px * .8) calc(4px * .8) rgba(0, 0, 0, .1);
        box-shadow: 0 calc(2px * .8) calc(4px * .8) rgba(0, 0, 0, .1)
    }

    .header__center,
    .header__left,
    .header__right {
        width: calc(33.3333% - (15px * .8))
    }

    .header__logo svg {
        width: calc(120px * .8)
    }

    .burger-icon {
        width: calc(35px * .8);
        min-width: calc(35px * .8);
        height: calc(35px * .8);
        border-radius: calc(5px * .8)
    }

    .burger-icon svg {
        width: calc(21px * .8)
    }

    .main-menu {
        padding: calc(19px * .8) 0 0
    }

    .main-menu::before {
        width: calc(697px * .8);
        height: calc(697px * .8);
        left: calc((348px * .8) * -1)
    }

    .main-menu::after {
        width: calc(697px * .8);
        height: calc(697px * .8);
        right: calc((348px * .8) * -1)
    }

    .main-menu ul li {
        margin-right: calc(88px * .8);
        margin-bottom: calc(18px * .8)
    }

    .main-menu ul li a {
        font-size: calc(18px * .8);
        line-height: calc(23px * .8)
    }

    .settings-menu__open {
        border-radius: calc(5px * .8);
        width: calc(35px * .8);
        height: calc(35px * .8);
        min-width: calc(35px * .8)
    }

    .settings-menu__open svg {
        width: calc(20px * .8)
    }

    .settings-menu__dropdown {
        top: calc((20px * .8) * -1);
        width: calc(220px * .8);
        border-radius: 0 0 calc(10px * .8) calc(10px * .8);
        right: calc((1 * .8) * -1)
    }

    .settings-menu__top {
        padding: calc(25px * .8)
    }

    .settings-menu__nav {
        padding: calc(43px * .8) calc(20px * .8)
    }

    .settings-menu__nav ul li {
        margin-bottom: calc(30px * .8)
    }

    .settings-menu__nav ul li a {
        font-size: calc(18px * .8);
        line-height: calc(23px * .8)
    }

    .settings-menu__bottom {
        padding: calc(25px * .8)
    }

    .theme-color__icon svg {
        width: calc(27px * .8)
    }

    .switch-wrap {
        margin-right: calc(10px * .8)
    }

    .switch-icon {
        margin-right: calc(10px * .8)
    }

    .switch-icon svg {
        width: calc(30px * .8)
    }

    .switch {
        width: calc(40px * .8);
        height: calc(16px * .8)
    }

    .switch input:checked+.switch__slider::before {
        -webkit-transform: translateX(calc(18px * .8));
        -ms-transform: translateX(calc(18px * .8));
        transform: translateX(calc(18px * .8))
    }

    .switch__slider {
        border-radius: calc(10px * .8)
    }

    .switch__slider::before {
        height: calc(20px * .8);
        width: calc(20px * .8);
        bottom: calc((2px * .8) * -1)
    }

    .top-info {
        padding: calc(15px * .8) 0;
        height: calc(90px * .8)
    }

    .top-info__left {
        margin-right: calc(30px * .8);
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(360px * .8);
        flex: 0 0 calc(360px * .8)
    }

    .top-info__left p {
        font-size: calc(18px * .8);
        line-height: calc(23px * .8)
    }

    .top-info__left p span {
        font-size: calc(24px * .8)
    }

    .btn {
        font-size: calc(18px * .8);
        line-height: calc(23px * .8);
        padding: calc(15px * .8) calc(38px * .8);
        border-radius: calc(15px * .8)
    }

    .btn__icon {
        margin-right: calc(30px * .8)
    }

    .btn__icon svg {
        height: calc(30px * .8)
    }

    .chat-container {
        padding-bottom: calc(35px * .8)
    }

    .left-sidebar {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(360px * .8);
        flex: 0 0 calc(360px * .8);
        border-radius: calc(5px * .8)
    }

    .left-sidebar__top {
        padding-top: calc(20px * .8);
        height: calc(97px * .8)
    }

    .left-sidebar__top::before {
        bottom: calc((30px * .8) * -1);
        height: calc(30px * .8)
    }

    .left-sidebar__top p {
        font-size: calc(16px * .8);
        line-height: calc(20px * .8);
        margin-bottom: calc(30px * .8)
    }

    .left-sidebar__content {
        height: calc(100vh - (301px * .8))
    }

    .tab-item {
        font-size: calc(16px * .8);
        line-height: calc(20px * .8);
        height: calc(27px * .8)
    }

    .tab-content-item {
        padding: calc(20px * .8) calc(12px * .8)
    }

    .chat-wrap {
        margin-left: calc(30px * .8)
    }

    .chat-message-content {
        height: calc(100vh - (331px * .8));
        border-radius: calc(5px * .8);
        padding: calc(18px * .8)
    }

    .message-item {
        border-radius: calc(8px * .8);
        margin: calc(5px * .8) 0;
        font-size: calc(15px * .8);
        line-height: calc(20px * .8)
    }

    .message-item-text {
        padding: calc(10px * .8) calc(30px * .8)
    }

    .message-item-text .message-item-actions {
        right: calc(5px * .8);
        top: calc(10px * .8)
    }

    .message-item-image {
        padding: calc(10px * .8) calc(15px * .8)
    }

    .message-item-image__left {
        width: calc(160px * .8);
        min-width: calc(160px * .8);
        margin-right: calc(10px * .8)
    }

    .message-item-image__inner {
        border-radius: calc(10px * .8)
    }

    .message-item-image__info {
        font-size: calc(15px * .8);
        line-height: calc(19px * .8)
    }

    .message-item-image__indicators {
        margin-bottom: calc(20px * .8)
    }

    .message-item-image__indicators .loader {
        margin-bottom: calc(10px * .8)
    }

    .message-item-image__actions .action-item {
        margin-bottom: calc(10px * .8)
    }

    .message-item-file {
        padding: calc(10px * .8) calc(15px * .8)
    }

    .message-item-file__info {
        margin-right: calc(18px * .8)
    }

    .message-item-file__title {
        font-size: calc(15px * .8);
        line-height: calc(19px * .8)
    }

    .message-item-file__data {
        font-size: calc(15px * .8);
        line-height: calc(19px * .8)
    }

    .message-item-file__icon {
        width: calc(55px * .8);
        min-width: calc(55px * .8)
    }

    .message-item-file__icon svg {
        width: calc(42px * .8)
    }

    .message-item-file__right {
        width: calc(72px * .8);
        min-width: calc(72px * .8);
        margin-left: calc(10px * .8)
    }

    .message-item-file__indicators {
        margin-bottom: calc(5px * .8)
    }

    .message-item-file__indicators .loader {
        margin-right: calc(10px * .8)
    }

    .message-item-file__actions .action-item {
        margin-right: calc(20px * .8)
    }

    .message-item-albom {
        padding: calc(15px * .8) calc(5px * .8)
    }

    .message-item-albom .message-item-image {
        width: 125px;
        margin: 0 calc(10px * .8) calc(15px * .8)
    }

    .message-item-albom .message-item-image__left {
        width: calc(115px * .8);
        min-width: calc(115px * .8)
    }

    .message-item-albom .message-item-image__right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(30px * .8);
        flex: 0 0 calc(30px * .8)
    }

    .message-item-albom .message-item-image__indicators {
        margin-bottom: calc(10px * .8)
    }

    .message-item-albom .message-item-image__indicators .loader {
        margin-bottom: calc(5px * .8)
    }

    .message-item-albom .message-item-image__actions .action-item {
        margin-bottom: calc(5px * .8)
    }

    .chat-text-area {
        padding: calc(15px * .8) calc(20px * .8);
        min-height: calc(100px * .8);
        border-radius: calc(10px * .8)
    }

    .chat-text-area__attach {
        min-width: calc(24px * .8);
        width: calc(24px * .8);
        margin-right: calc(14px * .8)
    }

    .chat-text-area__attach svg {
        width: calc(24px * .8)
    }

    .chat-text-area__send {
        margin-left: calc(14px * .8)
    }

    .chat-text-area__send svg {
        width: calc(20px * .8)
    }

    .text-message {
        font-size: calc(15px * .8);
        line-height: calc(19px * .8)
    }

    .chat-bottom-btns .btn {
        margin: calc(20px * .8) calc(15px * .8) 0;
        max-width: calc(263px * .8)
    }

    .main-content.create-note {
        padding-top: calc(30px * .8)
    }

    .main-content.create-note .chat-container::before {
        height: calc(29px * .8);
        bottom: calc((29px * .8) * -1)
    }

    .main-content.create-note .left-sidebar__content {
        height: calc(100vh - (366px * .8))
    }

    .main-content.create-note .chat-message-content {
        height: calc(100vh - (351px * .8))
    }

    .photo-wrap {
        margin-top: calc(10px * .8)
    }

    .photo-item {
        width: calc(50% - (7px * .8));
        margin-bottom: calc(30px * .8)
    }

    .photo-item__img {
        margin-bottom: calc(10px * .8);
        border-radius: calc(8px * .8)
    }

    .photo-item__name {
        font-size: calc(15px * .8);
        line-height: calc(19px * .8)
    }

    .photo-item__info {
        font-size: calc(13px * .8);
        line-height: calc(16px * .8)
    }

    .photo-item__actions .action-item {
        margin: 0 calc(5px * .8)
    }

    ::-webkit-scrollbar {
        width: calc(3px * .8)
    }

    ::-webkit-scrollbar-thumb {
        border-radius: calc(3px * .8)
    }

    .action-item {
        width: calc(30px * .8);
        height: calc(20px * .8);
        min-width: calc(20px * .8)
    }

    .file-item {
        margin-bottom: calc(20px * .8)
    }

    .file-item__title {
        font-size: calc(15px * .8);
        line-height: calc(18px * .8);
        margin-bottom: calc(10px * .8)
    }

    .file-item__icon {
        margin-right: calc(15px * .8);
        width: calc(50px * .8);
        height: calc(50px * .8);
        min-width: calc(50px * .8)
    }

    .file-item__icon svg {
        width: calc(39px * .8)
    }

    .file-item__data p {
        font-size: calc(15px * .8);
        line-height: calc(18px * .8)
    }

    .file-item__actions .action-item {
        margin-bottom: calc(10px * .8)
    }

    .loader {
        width: calc(30px * .8);
        min-width: calc(30px * .8);
        height: calc(30px * .8)
    }

    .create-note-bottom {
        padding: calc(10px * .8) 0;
        height: calc(125px * .8)
    }

    .create-note-bottom__left {
        margin-right: calc(30px * .8);
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(419px * .8);
        flex: 0 0 calc(419px * .8)
    }

    .create-note-bottom__left p {
        font-size: calc(18px * .8);
        line-height: calc(23px * .8)
    }

    .create-note-bottom__right {
        max-width: calc(360px * .8)
    }

    .content-link-wrap {
        padding: calc(80px * .8) 0 calc(70px * .8)
    }

    .content-link-wrap::before {
        height: calc(29px * .8);
        bottom: calc((29px * .8) * -1)
    }

    .s-title {
        font-size: calc(24px * .8);
        line-height: calc(30px * .8);
        margin-bottom: calc(20px * .8)
    }

    .content-link {
        max-width: calc(811px * .8)
    }

    .content-link__input {
        padding: calc(13px * .8) calc(12px * .8) calc(14px * .8);
        font-size: calc(20px * .8);
        line-height: calc(25px * .8);
        border-radius: calc(15px * .8)
    }

    .content-link__input::before {
        width: calc(200px * .8)
    }

    .content-link__icon {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(36px * .8);
        flex: 0 0 calc(36px * .8);
        margin-left: calc(20px * .8)
    }

    .content-link__icon svg {
        width: calc(37px * .8)
    }

    .tooltip-info {
        border-radius: calc(14px * .8);
        padding: calc(7px * .8) calc(14px * .8);
        font-size: calc(15px * .8);
        line-height: calc(19px * .8);
        width: calc(290px * .8);
        bottom: calc(100% + (15px * .8));
        left: calc((70px * .8) * -1)
    }

    .tooltip-info__icon {
        bottom: calc((12px * .8) * -1);
        left: calc(60px * .8)
    }

    .content-link-share {
        max-width: calc(561px * .8);
        margin: calc(60px * .8) auto 0
    }

    .content-link-share__descr {
        margin-top: calc(13px * .8);
        font-size: calc(15px * .8);
        line-height: calc(22px * .8)
    }

    .checkbox__text {
        font-size: calc(24px * .8);
        line-height: calc(30px * .8);
        margin-left: calc(20px * .8)
    }

    .checkmark {
        width: calc(24px * .8);
        height: calc(24px * .8);
        min-width: calc(24px * .8);
        border-radius: calc(5px * .8)
    }

    .card-info {
        border-radius: calc(15px * .8);
        max-width: calc(900px * .8);
        padding: calc(17px * .8) calc(35px * .8) calc(22px * .8) calc(30px * .8);
        margin: calc(57px * .8) auto 0
    }

    .card-info__icon {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(65px * .8);
        flex: 0 0 calc(65px * .8);
        margin-right: calc(30px * .8)
    }

    .card-info__icon svg {
        width: calc(65px * .8)
    }

    .card-info__title {
        font-size: calc(24px * .8);
        line-height: calc(30px * .8);
        margin-bottom: calc(5px * .8)
    }

    .card-info__descr {
        font-size: calc(18px * .8);
        line-height: calc(22px * .8)
    }

    .note-info {
        padding: calc(66px * .8) 0 calc(95px * .8)
    }

    .note-info__msg {
        font-size: calc(18px * .8);
        line-height: calc(23px * .8);
        margin-bottom: calc(42px * .8)
    }

    .note-info__msg span {
        margin: 0 calc(8px * .8);
        font-size: calc(24px * .8)
    }

    .note-info__btn {
        max-width: calc(360px * .8)
    }

    .see-note {
        padding: calc(90px * .8)
    }

    .see-note__btn {
        max-width: calc(360px * .8)
    }
}